
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --blue: #5AA9C2;
    --white: #ffffff;
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif ;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: conver;
}

p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: white;
}

/* Hero section*/
#hero{
    background-image: url('./imgs/bg.jpg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .1;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 11s;
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}

#hero h1:nth-child(2){
    animation-delay: 2s;
}

#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--blue);
    animation: text_reveal_box 1s ease ;
    animation-delay: .3s;
}

#hero h1:nth-child(1) span{
    animation-delay: .5s;
}

#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color:black;
    background-color: transparent;
    border: 2px solid  var(--blue);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease background-color;
}
#hero .cta:hover{
    color: white;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    opacity: .8;

}

/* End Hero section*/


/* Services section*/
#services{

}
#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
 .section-title span{
    color: crimson;
}

#services .service-top p{
   
    color:black ;

}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    /* background-image: url('./imgs/img-1.png'); */
    background-size: cover;
    margin: 10px;
    position: relative;
    z-index: 1;
    color: white;
    overflow: hidden;
}

#services .service-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image:linear-gradient(60deg, #29323c 0%, #485563 100%) ;
    opacity: .8;
    z-index: -1;
}

#services .service-item .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p{
    text-align: left;
}
/* End Service section*/

/*  Project section*/

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info{
    padding: 30px;
    flex-basis: 50%;
    background-color: white;
    height: 1000%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-img{
    width: 100%;
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}



/* End Projects section*/



@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: black;
    }
}

@keyframes text_reveal_name{
    100%{
        color: var(--blue);
    }
}

/* End Hero section*/
.var-highlight{
    color: #C0AD60;
  }
  .string-highlight{
    color: rgba(253, 149, 90, 0.8);
  }
  
  #typewriter{
      font-size: 2em;
      margin: 0;
      font-family: "Courier New";
  
      &:after{
        content: "|";
        animation: blink 500ms linear infinite alternate;
      }
  }
  
  @-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
  
  @keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }